.formControl.error input,
.formControl.error textarea{
    border: solid red 2px;
}
.formControl.error span {
    color: red;
}
.summaryError {
    color: red;
    text-transform: uppercase;
    border: 1px solid red;
}